.user-profile {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  margin: 0 auto;
}


.profile-header {
  display: flex;
  align-items: center;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 20px;
}

.profile-image-small {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
}

.profile-name {
  font-size: 24px;
  font-weight: bold;
}

.profile-handle {
  color: #555;
  margin-top: 5px;
}

.profile-details {
  margin-top: 20px;
}

.detail {
  display: flex;
  margin-bottom: 10px;
}

.label {
  font-weight: bold;
  width: 120px;
  flex-shrink: 0;
}

.value {
  flex-grow: 1;
}
